server:
  port: 8080

spring:
  cloud:
    aws:
      credentials:
        access-key: ${ACCESS_KEY}
        secret-key: ${SECRET_KEY}
      dynamodb:
        region: ${REGION}
        endpoint: ${DYNAMO_ENDPOINT}
      s3:
        endpoint: ${S3_ENDPOINT}
        region: ${REGION}
